html {
  font-family: Lucida Grande, Sans-Serif;
  color:#f8f8ff;
  background-color:#000000;
}

header{
	background-color: #000000;
}
h1{
	font-size: 64px;
	color: #f8f8ff;
	background-color: #000000;
	text-align: center;
}


h2{
	font-size: 30px;
	text-align: center;
	text-shadow: 5px 5px 2px #808080;
	/*offset 5px horizontally, 5px vertically, and 2px blur*/
	color: #f8f8ff;
}


p{
	/*24px font and have 20px padding on the top only*/
	font-size: 24px;
	padding-top: 20px;
	color: #f8f8ff;
}

#intro{
	background-color: #000000;
}

#intro h2{
	text-align: left;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 525px;
	height: auto;
}

div{
	padding:25px 25px 25px 25px;
	flex-basis: 150px;
	flex:flex-grow;
	min-height: 150px;
}

#red{
	background-color: #A80000;
}

#red h2{
	text-align: right;
}

#red p{
	text-align: right;
}

#blue{
	background-color: #0000ff;
	text-align: left;
}

#blue h2{
	text-align: left;
}

#blue p{
	text-align: left;
}

#yellow{
	background-color: #ffff00;
	text-align: right;
}

#yellow h2{
	color: #000000;
	text-align:right;
	text-shadow: #c7e2c7;
}

#yellow p{
	color: #000000;
	text-align:right;
}

#green{
	background-color: #0e6b0e;
}

#green h2{
	text-align: left;
}

#green p{
	text-align: left;
}

footer{
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}
